// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Colors
$primary: #304229;
$secondary: #46643C;
$light: #F5F5F0;
$dark: #242424;
// Links
$link-decoration: none;
$link-shade-percentage: 70%; // Hvor meget hver link er fadet ud inden hover
//Fonts
$font-size-base:              1rem;
$h1-font-size:                $font-size-base * 1.35;
$h2-font-size:                $font-size-base * 1.05;
$h3-font-size:                $font-size-base;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "light": $light,
        "dark": $dark
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
$small: 576px;
$medium: 768px;
$large: 992px;
$xtraLarge: 1200px;
$xxtraLarge: 1400px;

@mixin breakpoint($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $light;
  color: $dark;
  font-family: "Glory", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15rem;
  letter-spacing: .4px;
  font-size: calc($font-size-base * .75 + 0.6vw);

  @include breakpoint($small) {
    font-size: $font-size-base;
  }

  .success {
    background-image: linear-gradient($secondary, $primary);
  }
}

header {
  .topnav {
    height: 50px;
    z-index: 999;
  }
}

footer {
  .bottom-nav {
    height: 100px;
    z-index: 99;
  }

  .icons {
    height: 30px;

    @include breakpoint($small) {
      height: 45px;
    }
  }

  .margin-to-top {
    padding-top: 130px;
  }
}

article {
  padding-top: 4.7rem;
}

a, .btn {
  font-weight: 600;
}

// Top-menu drop"down"
.offcanvas {
  line-height: 1.4rem;
  --bs-offcanvas-width: 70%;

  @include breakpoint($small) {
    --bs-offcanvas-width: 350px;
  }
}

// Knapper for valg mellem produkter og butikker
.btn-pick + .btn {
  opacity: 0.5;
}

.btn-pick:checked + .btn {
  opacity: 1;
}

// Loop-card
.loop-card {
  border-radius: 20px 0 20px 0;
  height: 100%;

    img {
      border-top-left-radius: 20px;
    }

  .favorite-icon {
    position: relative;
    height: 20px;
    border-radius: 0;
    z-index: 9;

    @include breakpoint($small) {
      height: 25px;
    }
  }
}

// Swipe
.swipe-button {
  width: 80%;
  height: 3rem;
}

.swipe-circle {
  width: 2.4rem;
  height: 2.4rem;
  left: 0.15rem;
  transition: left 0.15s ease;
}

// For success ved afhentning af et produkt
.texture {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../img/hero-texture.webp");
}

// Blandet
.minimize-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-border {
  border: 14px solid $light;
  border-radius: 32px 0 32px 0;
}